*.psd filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920 filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/mecab-ya/mecab/lib/mecab/dic/mecab-ko-dic filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/** filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/NR.csv filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/configure.ac filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/merge-descriptors filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/ChangeLog filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/Hanja.csv filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/NEWS filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/configure filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/unk.def filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/serve-static filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/INSTALL filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/MAG.csv filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/MM.csv filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/Place-station.csv filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/statuses filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/XPN.csv filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/fresh filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/send filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/clean filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/utils-merge filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/accepts filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/python-shell filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/mime-db filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/left-id.def filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/ansi-regex filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/etag filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/model.def filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/encodeurl filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/NNG.csv filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/VCP.csv filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/safer-buffer filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/parseurl filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/AUTHORS filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/J.csv filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/Preanalysis.csv filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/prompt-sync filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/shell-quote filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/XSN.csv filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/pos-id.def filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/escape-html filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/on-finished filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/proxy-addr filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/VA.csv filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/cookie filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/mime-types filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/dicrc filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/cookie-signature filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/finalhandler filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/mime filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/EP.csv filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/Makefile.am filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/XR.csv filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/inherits filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/Person.csv filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/missing filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/ee-first filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/rewrite.def filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/http-errors filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/mecab-ya filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/toidentifier filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/COPYING filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/NorthKorea.csv filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/feature.def filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/depd filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/qs filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/setprototypeof filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/CoinedWord.csv filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/Foreign.csv filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/XSA.csv filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/body-parser filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/debug filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/NP.csv filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/iconv-lite filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/Person-actor.csv filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/VX.csv filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/range-parser filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/bytes filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/colors filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/VV.csv filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/@fridgerator filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/express filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/path-to-regexp filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/Makefile.in filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/README filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/matrix.def filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/destroy filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/raw-body filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/char.def filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/right-id.def filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/user-dic filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/Place.csv filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/Inflect.csv filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/MAJ.csv filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/content-type filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/type-is filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/vary filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/ETM.csv filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/Group.csv filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/IC.csv filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/ipaddr.js filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/negotiator filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/EF.csv filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/XSV.csv filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/install-sh filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/media-typer filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/strip-ansi filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/unpipe filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/ETN.csv filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/tools filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/array-flatten filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/Symbol.csv filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/ms filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/EC.csv filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/NNBC.csv filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/NNP.csv filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/methods filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/safe-buffer filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/Wikipedia.csv filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/autogen.sh filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/forwarded filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/VCN.csv filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules/content-disposition filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/NNB.csv filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/mecab-ko-dic-2.0.1-20150920/Place-address.csv filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/package.json filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/gitignore.txt filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/node_modules filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/package-lock.json filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/SmartCity_BDSL/Smart[[:space:]]City[[:space:]]-[[:space:]]BDSL filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/beginner/beginning filter=lfs diff=lfs merge=lfs -text
/Users/jamesjeon/PycharmProjects/lgcns/**/* filter=lfs diff=lfs merge=lfs -text
*.dic filter=lfs diff=lfs merge=lfs -text
*.def filter=lfs diff=lfs merge=lfs -text
*dic filter=lfs diff=lfs merge=lfs -text
*def filter=lfs diff=lfs merge=lfs -text
